{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <form id="form">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="John" name="firstName" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" placeholder="Doe" name="lastName" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" name="email"
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789" name="phone"
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="address1"
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="address2"
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <select class="custom-select" name="country">
                                    <option selected>Uzbekistan</option>
                                    <option>United States</option>
                                    <option>Russia</option>
                                    <option>China</option>
                                    <option>United Kingdom</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="New York" name="city" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="New York" name="state" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>ZIP Code</label>
                                <input class="form-control" type="text" placeholder="123" name="zipCode" required>
                            </div>

                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold py-3" id="checkout">Place Order
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        {% for item in items %}
                            <div class="d-flex justify-content-between">
                                <p>{{ item.product }}</p>
                                <p>${{ item.get_total }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>${{ totalPrice }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            {% if not totalPrice == 0 %}
                                <h5>${{ totalPrice|add:10 }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    <script type="text/javascript">
        let form = document.getElementById('form');
        let checkout = document.getElementById('checkout');
        csrftoken = form.getElementsByTagName('input')[0].value
        checkout.addEventListener('click', function () {
            submitForm()
        })

        function submitForm() {
            let userInfo = {
                'firstName': null,
                'lastName': null,
                'email': null
            }

            let shippingInfo = {
                'phone': null,
                'address1': null,
                'address2': null,
                'country': null,
                'city': null,
                'state': null,
                'zipCode': null
            }
            if (user === 'AnonymousUser') {
                userInfo.firstName = form.firstName.value
                userInfo.lastName = form.lastName.value
                userInfo.email = form.email.value
            }
            shippingInfo.phone = form.phone.value
            shippingInfo.address1 = form.address1.value
            shippingInfo.address2 = form.address2.value
            let country = form.country
            shippingInfo.country = country.options[country.selectedIndex].value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipCode = form.zipCode.value

            url = '/order/process/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'userInfo': userInfo, 'shippingInfo': shippingInfo})

            })
        }
    </script>
{% endblock %}