<div class="container d-flex justify-content-end p-1">

    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a class="btn btn-danger" href="{% url 'create-product' %}">Add product</a>
        {% endif %}
        <a class="btn btn-info ml-3" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-info" href="{% url 'login' %}">Login</a>
        <a class="btn btn-info ml-3" href="{% url 'register' %}">Sign up</a>
    {% endif %}
</div>
<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="{% url 'search' %}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="Search for products">
                    <div class="input-group-append">
                        <button type="submit" style="border: none; padding: 0">
                            <span class="input-group-text bg-transparent text-primary h-100">
                                <i class="fa fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Customer Service</p>
            <h5 class="m-0">+012 345 6789</h5>
        </div>
    </div>
</div>